<header>
  <div class="logo">
    <a href="index.html">
      <img src="assets/images/logo.png" alt="Tlapia Clothing Logo" style="height:40px;">
    </a>
  </div>
  <nav>
    <ul>
      <li><a href="products.html">Store</a></li>
      <li><a href="essentials.html">YATI Essentials</a></li>
      <li><a href="top-picks.html">Top Picks</a></li>
      <li><a href="about.html">About</a></li>
    </ul>
  </nav>

  /searchbar/
  <div class="search-bar">
  <input type="text" id="searchInput" placeholder="Search products...">
  <button id="searchBtn">Search</button>
</div>

  <div class="header-icons">
    <a href="favorites.html">❤️ Favorites</a>
    <a href="cart.html">🛒 Shopping Bag</a>
  </div>
</header>
